body {
  font-family: Arial, Helvetica, sans-serif;

  background: url(../images/stethoscope.jpg);
  background-size: cover;
  background-attachment: fixed;

}

.head p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 100;

}